<ion-content class="fundo" [fullscreen]="true">
  <div class="espaco">
    <ion-item class="roundedInput" line="none">
      <ion-label position="floating">Nome do pet</ion-label>
      <ion-input type="text"  placeholder="Ex: Bili" expand="block" style="color: #222"></ion-input>
    </ion-item>
    <ion-item class="roundedInput" line="none">
      <ion-label position="floating">Idade</ion-label>
      <ion-input type="text" placeholder="Ex: 2" expand="block" style="color: #222"></ion-input>
    </ion-item>
  </div>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col class="espaco">
      <ion-button shape="block" color="secondary">cadastrar </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
